.position__control {
    display: flex;
}

.position__information {
    background-color: #29aae1;
    width: 33.33%;
    color: white;
    padding: 80px 70px;
}

.position__information p {
    margin-bottom: 10px;
}

.position__map {
    width: 66.66%;
}