.services {
    margin: 70px auto;
}

.services__header {
    text-align: center;
}

.services__header h4 {
    font-size: 24px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f5f5;
}

.services__header p {
    margin-top: 15px;
    font-size: 14px;
    color: #d8d8d8;
}

.services__control {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 300px;
    text-align: center;
    margin: 20px 10px;
}

.service__image{
    height: 50px;
}

.services__item h5 {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.services__item p {
    color: #d5d5d5;
}

.services__more {
    position: relative;
}

.fa-arrow-circle-right{
    color: #29aae1;
    position: absolute;
    top: 15px;
    right: 115px;
    font-size: 10px;
}

.services__item button:hover + .fa-arrow-circle-right{
    color: white;
}

.services__item button {
    margin-top: 10px;
    padding: 5px 20px 5px 10px;

    font-size: 10px;

    border: none;
    border-radius: 30px;
}

.services__item button:hover {
    background-color:  #29aae1;
    box-shadow: 0 5px 10px #e3e3e3;
    color: white;
}
